<nav class="navbar navbar-expand-md navbar-dark bg-primary">
<div class='container'> <!-- class = container give more space between items-->

  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <ul class="navbar-nav mr-auto" *ngIf="logedIn()">
      <li class="nav-item active" routrLinkActive="active">
        <a class="nav-link"  [routerLink]="['/members']" >Matchs</a>
      </li>
      <li class="nav-item" routrLinkActive="active">
        <a class="nav-link"  [routerLink]="['/list']">Lists</a>
      </li>
      <li class="nav-item" routrLinkActive="active">
        <a class="nav-link"  [routerLink]="['/message']" >Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='logout()'>LogOut</a>
      </li>
    </ul>
  <!--https://valor-software.com/ngx-bootstrap/#/dropdowns
  <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
    <a href id="basic-link" dropdownToggle (click)="false"
     aria-controls="basic-link-dropdown">Click me for a dropdown, yo!</a>
    <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="basic-link">
    <li *ngFor="let choice of items">
      <a class="dropdown-item" href="#">{{choice}}</a>
      </li>
    </ul>
  </span>
  -->
 
    <span *ngIf="logedIn()" class="dropdown" dropdown>
      <span class="mr-2">
        <img src="{{ photoUrl || '../../assets/user.png' }}" alt="">
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle (click)="false" >
        Wellcome {{ authService.getDecodeToken().unique_name }}
      </a>
      <!--mt-3 is margin top = 3 (bootstrap class)-->
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class='fa fa-user'></i>Edite profile</a>
        <div class='dropdown-divider'></div>
        <a class="dropdown-item" (click)='logout()' ><i class='fa fa-sign-out'></i>LogOut</a>
      </div>
    </span>
    <!--#nameOfForm(used by future)-->
    <form *ngIf="!logedIn()"   #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="UserName" 
       name="username" required [(ngModel)]="model.username" #username="ngModel"
       >
      <input class="form-control mr-sm-2" type="password" placeholder="Password"
      name="password" required [(ngModel)]="model.password" #password="ngModel"
      >
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>


</div>


</nav>

<pre>

<!--
Form valid : {{ loginForm.valid}}
Form touched : {{ loginForm.touched}}
Form dirty : {{ loginForm.dirty}}
Form values : {{ loginForm.value}}

username valid : {{ username.valid}}
username touched : {{ username.touched}}
username dirty : {{ username.dirty}}
username values : {{ username.value}}
-->

</pre>